<div class="container-fluid">
  <div class="=row">
    <div class="col-md-2">
    <aside-page></aside-page>
    </div>

<div class="jumbotron col-md-7">
<h3>7 Keys to Angular</h3>
	<div class="row">
		<div class="col-md-6 box">
			<div class="box1">
			        <a href="/assets/images/art21.jpg" target="_blank">
		          <br/><img class="img-thumbnail" src="/assets/images/art21.jpg" alt="Lights" style="width:100%">
		        </a>
		     </div>
		     <div class="box2">
			        <a href="/assets/images/art23.jpg" target="_blank">
		          <br/><img class="img-thumbnail" src="/assets/images/art23.jpg" alt="Lights" style="width:100%">
		        </a>
		     </div>
		     <div class="box3">
			        <a href="/assets/images/art25.jpg" target="_blank">
		          <br/><img class="img-thumbnail" src="/assets/images/art25.jpg" alt="Lights" style="width:100%">
		        </a>
		    </div>
		    <div class="box4">
			        <a href="/assets/images/art27.jpg" target="_blank">
		          <br/><img class="img-thumbnail" src="/assets/images/art27.jpg" alt="Lights" style="width:100%">
		        </a>
		    </div>
		</div>
		<div class="col-md-6 box">
			<div class="box5">
			        <a href="/assets/images/art22.jpg" target="_blank">
		          <br/><img class="img1 img-thumbnail" src="/assets/images/art22.jpg" alt="Lights" style="width:100%">
		        </a>
		    </div>
		    <div class="box6">
			        <a href="/assets/images/art24.jpg" target="_blank">
		          <br/><img class="img1 img-thumbnail" src="/assets/images/art24.jpg" alt="Lights" style="width:100%">
		        </a>
		    </div>
		    <div class="box7">
			        <a href="/assets/images/art26.jpg" target="_blank">
		          <br/><img class="img1 img-thumbnail" src="/assets/images/art26.jpg" alt="Lights" style="width:100%">
		        </a>
		    </div>
		    <div class="box8">
			        <a href="/assets/images/art28.jpg" target="_blank">
		          <br/><img class="img1 img-thumbnail" src="/assets/images/art28.jpg" alt="Lights" style="width:100%">
		        </a>
		    </div>
		</div>
	</div>
</div>
    <div class="col-md-3">
    <login-page></login-page>
    </div>
  </div>
</div>
