div.jumbotron{
	background-color: #ffffff;
	border-radius:0px 10px;
	border:2px solid #000;
	padding:29px 60px 48px 60px;
}
   .wrapper{
      width: 60%;
      margin: 60px auto;
    }
.btn, .btn-primary{
	padding:5px 40px;
	width:150px;
	margin:5px 0px;
}