<div class="container-fluid">
  <div class="=row">
  <div class="col-sm-2">
<h3><strong>Directive List:</strong></h3>
  <button class="btn btn-primary" (click)="value=1">ngClass</button>
  <button class="btn btn-primary" (click)="value=2">ngFor</button>
  <button class="btn btn-primary" (click)="value=3">ngIf</button>
  <button class="btn btn-primary" (click)="value=4">ngShow</button>
  <button class="btn btn-primary" (click)="value=5">ngStyle</button>
  <button class="btn btn-primary" (click)="value=6">ngSwitch</button>
</div>
<div class="col-sm-10 jumbotron">
  <div [ngSwitch]="value">
	<div *ngSwitchCase="1"><ng-class-directive></ng-class-directive></div>
	<div *ngSwitchCase="2"><ng-for-directive></ng-for-directive></div>
	<div *ngSwitchCase="3"><ng-if-directive></ng-if-directive></div>
	<div *ngSwitchCase="4"><ng-show-directive></ng-show-directive></div>
	<div *ngSwitchCase="5"><ng-style-directive></ng-style-directive></div>
	<div *ngSwitchCase="6"><ng-switch-directive></ng-switch-directive></div>
	<div *ngSwitchDefault><ng-class-directive></ng-class-directive></div>  
  </div>
  </div>
	<div class="wrapper">
    <carousel></carousel>
    </div>

</div>
</div>