<nav class="navbar navbar-inverse">
 <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AppsBrew</a>
    </div>
    <ul class="nav nav-pills nav-justified">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
	<div class="=row">
		<div class="col-md-2">
		<aside-page></aside-page>
		</div>
		<div class="col-md-7">
		<home-page></home-page>
		</div>
		<div class="col-md-3">
		<login-page></login-page>
		</div>
	</div>
</div>
<div class="container-fluid boxfill">
	<div class="row-fluid">
	    <div class="span6 pull-left">
	        <p>&#160; Copyright.</p>
	    </div>
	    <div class="span6">
	        <div class="pull-right">
	            <p>All right reserved.</p>
	        </div>
	    </div>
	</div>
</div>