<nav class="navbar navbar-default">
<br/> <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AppsBrew</a>
    </div>
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
	<div class="=row">
		<div class="col-md-2">
		<aside-page></aside-page>
		</div>
		<div class="col-md-7">
		<home-page></home-page>
		</div>
		<div class="col-md-3">
		<login-page></login-page>
		</div>
	</div>
</div>
<div class="container-fluid boxfill">
	<h5 class="text-white">&#169; Copyright.</h5>
</div>