a
{
	color:#ffffff;
	text-decoration: none;
}
div.well{
	background-color: #ffffff;
	border-radius:0px 10px;
	border:2px solid #000;
	padding:10px;
}
h3{
	text-align: center;
}
svg{
	padding-top:8px; 
	margin-top: -8px;
}
li{
	background-color: #337ab7;
	border-radius: 0px 8px;
	margin:11px 0px;
}