div.jumbotron{
	background-color: #ffffff;
	border-radius:0px 10px;
	border:2px solid #000;
	padding:40px 60px 48px 60px;
}
div.thumbnail{
	background-color: #ffffff;
	border-radius:0px 10px;
	border:2px solid #000;
	padding:5px;	
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}
.carousel-control{
	color: #fff;
 width: 15%;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=100);
  opacity: 1;
}