<div class="jumbotron">
        <h2>Grid System</h2>
			<h4> Some text here... Bootstrap's grid system allows up to 12 columns across the page. If you do not want to use all 12 column individually, you can group the columns together to create wider columns:</h4>
			<h4>Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content organized in three columns, but on a small screen it would be better if the content items were stacked on top of each other.</h4>
</div>

	<div class="row">
		<div class="col-md-3 thumbnail">
			<h3>Section 1</h3>
			<h4>The Bootstrap grid system has four classes:
				xs (for phones)
				sm (for tablets)
				md (for desktops)
				lg (for larger desktops)
			The classes above can be combined to create more dynamic and flexible layouts.</h4>
		</div>
		<div class="col-md-3 thumbnail">
			<h3>Section 2</h3>
			<h4>Some Bootstrap grid system rules:
				Rows must be placed within a .container (fixed-width) or .container-fluid (full-width) for proper alignment and padding
				Use rows to create horizontal groups of columns
				Content should be placed within columns, and only columns may be immediate children of rows
				Predefined classes like .row and .col-sm-4 are available for quickly making grid layouts
				Columns create gutters (gaps between column content) via padding.</h4>
		</div>
		<div class="col-md-3 thumbnail">
			<h3>Section 3</h3>
				<h4>That padding is offset in rows for the first and last column via negative margin on .rows
				Grid columns are created by specifying the number of 12 available columns you wish to span. For example, three equal columns would use three .col-sm-4</h4>
		</div>
		<div class="col-md-3 thumbnail">
			<h3>Section 4</h3>
				<h4>But on medium devices the design may be better as a 50%/50% split.
					Tip: Medium devices are defined as having a screen width from 992 pixels to 1199 pixels.
					Now we will add the column widths for medium devices:</h4>
		</div>
	</div>
