<div class="container-fluid">
  <div class="=row">
<div class="col-sm-2">
<h3><strong>Table List:</strong></h3>
  <button class="btn btn-primary" (click)="value=1">Table 1</button>
  <button class="btn btn-primary" (click)="value=2">Table 2</button>
  <button class="btn btn-primary" (click)="value=3">Table 3</button>
  <button class="btn btn-primary" (click)="value=4">Table 4</button>
</div>
<div class="col-sm-10">
  <div [ngSwitch]="value">
     <div *ngSwitchCase="1"><table1></table1></div>
     <div *ngSwitchCase="2"><table2></table2></div>
     <div *ngSwitchCase="3"><table3></table3></div>
     <div *ngSwitchCase="4"><table4></table4></div>
     <div *ngSwitchDefault><table1></table1></div>  
  </div>
</div>

</div>
</div>